:root {
	--foreground: black;
	--background: white;
	--accent: #b0c4de;
	--trans-accent: #b0c4decc;
	--line-thickness: 0.3rem;
	font-family: "Hanken Grotesk", sans-serif;
	font-size: 13pt;
}

body {
	height: 100vh;
	margin: 0;
	display: grid;
	grid-template-rows: auto auto 1fr auto;
	background-color: var(--background);
}

header {
	text-align: center;
	background-image: url("media/flygfoto.jpg");
	background-position: center;
	background-size: cover;

	>a {
		display: inline-block;
		padding: 0.5rem;
		margin: 1rem;
	}

	a {
		text-shadow: 0 0 0.5rem black;
		text-decoration: none;
		color: white;
	}
}

nav {
	padding: 0.5rem;
	display: flex;
	justify-content: center;
	gap: 2ch;
	background-color: var(--trans-accent);
}

main {
	border-top: var(--line-thickness) solid var(--trans-accent);
	padding: 2rem;
	overflow: visible;
	box-sizing: border-box;
	color: var(--foreground);

	width: min(100%, 90ch);
	margin: 0 auto;

	p > img {
		margin: auto;
		display: block;
		max-width: 70%;
		& + em {
			display: block;
			text-align: center;
		}
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		scroll-margin-top: 1em;
		position: relative;
		margin: 0;
	}

	* + h2,
	* + h3,
	* + h4,
	* + h5,
	* + h6 {
		margin-top: 1em;
	}

	* + h1 {
		margin-top: 3em;
	}

	p {
		line-height: 1.5em;
		margin: 1em 0 0 0;
	}

	blockquote {
		margin: 0 0 0 1em;
	}
}

a {
	&:hover {
		outline: 0.1rem solid var(--accent);
	}
	&:active {
		scale: 0.99;
	}
	*:focus {
		outline: 0.2rem solid var(--accent);
	}

	/* crazy hack to get the cool 'open-in-new-tab' icon on external links */
	&[target="_blank"]::after {
		content: "";
		width: 1em;
		height: 1em;
		margin: 0 0.05em 0 0.1em;
		background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAxNiAxNiIgd2lkdGg9IjE2IiBoZWlnaHQ9IjE2Ij48cGF0aCBkPSJNOSAyTDkgMyAxMi4zIDMgNiA5LjMgNi43IDEwIDEzIDMuNyAxMyA3IDE0IDcgMTQgMlpNNCA0QzIuOSA0IDIgNC45IDIgNkwyIDEyQzIgMTMuMSAyLjkgMTQgNCAxNEwxMCAxNEMxMS4xIDE0IDEyIDEzLjEgMTIgMTJMMTIgNyAxMSA4IDExIDEyQzExIDEyLjYgMTAuNiAxMyAxMCAxM0w0IDEzQzMuNCAxMyAzIDEyLjYgMyAxMkwzIDZDMyA1LjQgMy40IDUgNCA1TDggNSA5IDRaIi8+PC9zdmc+)
			no-repeat;
		background-size: contain;
		display: inline-block;
		vertical-align: text-top;
	}
}

li {
	margin-top: 1em;
	&::marker {
		font-weight: bold;
	}
}
