:root {
	--primary-color: #184059;
	--background-color: #ece7ca;

	--line-thickness: round(0.3rem, 1px);

	font-family: "EB Garamond", serif;
	font-optical-sizing: auto;
	font-display: swap;
	font-size: 13pt;
}

body {
	min-height: 100vh;
	margin: 0;
	display: grid;
	grid-template-rows: auto auto 1fr auto;
	background-color: var(--background-color);
}

header {
	background-image:
		linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.2)),
		url("media/IMG_1242.jpg");
	background-size: cover;
	background-position: center;
	background-attachment: scroll;
	> a{
		font-size: 120%;
		font-weight: bold;
		display: block;
		padding: 2rem;
	}
}

header, nav {
	text-align: center;
	a {
		color: var(--background-color);
		text-shadow: 0 0 0.5rem black;
		text-decoration: none;
	}
}

#languages {
	text-align: right;
	a {
		display: block;
		padding: 0.5rem;
	}
	&:not(:hover):not(:target) > :not(:first-child) {
		display: none;
	}
	> div {
		text-align: left;
		display: inline-flex;
		flex-direction: column;
		gap: 0.5rem;
		padding: 0.5rem;
		padding-top: 1rem;
		background-color: var(--primary-color);
	}
}

nav {
	font-weight: bold;
	background-color: var(--primary-color);
	padding: 1rem;

	display: flex;
	justify-content: center;
	gap: 2.5rem;

	> * {
		opacity: 0.8;
		&:hover {
			opacity: 1;
		}
	}

	> label {
		display: none;
	}

	> input {
		display: none;
	}
}


@media (max-width: 90ch) {
	nav {
		gap: 0;
		flex-direction: column;
		label {
			display: flex;
			flex-direction: column;
			cursor: pointer;
			align-items: flex-end;
			gap: 0.5rem;
			hr {
				display: block;
				width: 2rem;
				height: var(--line-thickness);
				background-color: var(--background-color);
				margin: 0;
				border: none;
			}
		}
		input:checked ~ label {
			gap: 1rem;
		}
		input:not(:checked) ~ a {
			display: none;
		}
		a {
			display: block;
			padding: 0.7rem;
			margin-top: 1rem;
			font-size: 120%;
			border: 0.1rem solid var(--primary-color);
		}
	}
}

main {
	padding: 1.5rem;
	box-sizing: border-box;
	color: var(--primary-color);

	width: min(100%, 90ch);
	margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	scroll-margin-top: 1em;
	position: relative;
	margin: 0;
	font-family: "Lexend", sans-serif;
}

* + h2,
* + h3,
* + h4,
* + h5,
* + h6 {
	margin-top: 1em;
}

* + h1 {
	margin-top: 2em;
}

p {
	line-height: 1.5em;
	margin: 1em 0 0 0;
}

a {
	&:hover {
		outline: 0.1rem solid var(--primary-color);
	}
	&:active {
		scale: 0.99;
	}
	*:focus {
		outline: 0.2rem solid var(--primary-color);
	}

	/* crazy hack to get the cool 'open-in-new-tab' icon on external links */
	&[target="_blank"]::after {
		content: "";
		width: 1em;
		height: 1em;
		margin: 0 0.05em 0 0.1em;
		background: url(data:image/svg+xml;base64,PHN2ZyBmaWxsPSIjZWNlN2NhIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAxNiAxNiIgd2lkdGg9IjE2IiBoZWlnaHQ9IjE2Ij48cGF0aCBkPSJNOSAyTDkgMyAxMi4zIDMgNiA5LjMgNi43IDEwIDEzIDMuNyAxMyA3IDE0IDcgMTQgMlpNNCA0QzIuOSA0IDIgNC45IDIgNkwyIDEyQzIgMTMuMSAyLjkgMTQgNCAxNEwxMCAxNEMxMS4xIDE0IDEyIDEzLjEgMTIgMTJMMTIgNyAxMSA4IDExIDEyQzExIDEyLjYgMTAuNiAxMyAxMCAxM0w0IDEzQzMuNCAxMyAzIDEyLjYgMyAxMkwzIDZDMyA1LjQgMy40IDUgNCA1TDggNSA5IDRaIi8+PC9zdmc+Cg==)
			no-repeat;
		background-size: contain;
		display: inline-block;
		vertical-align: text-top;
	}
}

li {
	margin-top: 1em;
	&::marker {
		font-weight: bold;
	}
}

figure {
	margin: 2rem 0;
	display: flex;
	flex-direction: column;
	align-items: center;

	img {
		width: min(100%, 50ch);
		height: auto;
	}

	figcaption {
		font-style: italic;
		margin-top: 0.5em;
	}
}
