{% import "macros.html" as macros %}

<!DOCTYPE html>
<html lang="sv">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>
            {% if page.title %}{{ page.title }} -{% endif %}
        {{ config.title }}</title>
        <meta name="description" content="{% block description %}{{ config.description }}{% endblock %}">
        <link rel="icon" href="{{ get_url(path='logo.png') }}" type="image/png">
        <link rel="stylesheet" href="{{ get_url(path='style.css') }}" type="text/css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
        {% block xhead %}{% endblock xhead %}
    </head>
    <body>
        <header>
            <a href="{{ get_url(path='@/_index.md') }}" style="font-size: 200%; font-weight: bold;">
            {{ config.title }}
            </a>
            <nav role="navigation">
                {% set items = load_data(path="templates/nav.yaml", format="yaml") %}
                {%- for item in items %}
                <div>
                    {{ macros::navitem(item=item) }}
                    {%- if item.subitems %}
                        {%- for subitem in item.subitems %}
                            {{ macros::navitem(item=subitem) }}
                        {%- endfor %}
                    {%- endif %}
                </div>
                {%- endfor %}
            </nav>
        </header>

        <main>
            {% block content %}
                {{ section.content | safe }}
            {% endblock content %}
        </main>

        <!-- <footer> -->
        <!--     Denna hemsida är inhyst under -->
        <!--     <a href="//www.lysator.liu.se"> -->
        <!--         <img height="30" width="30" src="/lyslogo.svg" alt="Lysators logga"> -->
        <!--         <span style="color: #ff0;">Lysator</span> -->
        <!--     </a> -->
        <!-- </footer> -->

    </body>
</html>
