{% import "macros.html" as macros %}

<!DOCTYPE html>
<html lang="sv">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>
            {% if page.title %}{{ page.title }} -{% endif %}
        {{ config.title }}</title>
        <meta name="description" content="{% block description %}{{ config.description }}{% endblock %}">
        <link rel="icon" href="{{ get_url(path='logo.png') }}" type="image/png">
        <link rel="stylesheet" href="{{ get_url(path='style.css') }}" type="text/css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
        {% block xhead %}{% endblock xhead %}
    </head>
    <body>
        <header>
            <div id="languages">
                <a>🌎</a>
                <div>
                {% if current_path %}
                    {% set path = current_path %}
                    {% if path is starting_with('/en/') %}
                        {% set path = path | trim_start_matches(pat="/en/") %}
                    {% elif path is starting_with('/de/') %}
                        {% set path = path | trim_start_matches(pat="/de/") %}
                    {% elif path is starting_with('/nl/') %}
                        {% set path = path | trim_start_matches(pat="/nl/") %}
                    {% else %}
                        {% set path = path | trim_start_matches(pat="/") %}
                    {% endif %}
                    <a href="{{ get_url(path='@/_index.md') }}{{path}}">🇸🇪 Svenska</a>
                    <a href="{{ get_url(path='@/_index.en.md')}}{{path}}">🇬🇧 English</a>
                    <a href="{{ get_url(path='@/_index.de.md')}}{{path}}">🇩🇪 Deutsch</a>
                    <a href="{{ get_url(path='@/_index.nl.md')}}{{path}}">🇳🇱 Nederlands</a>
                {%- else %}
                    <a href="{{ get_url(path='@/_index.md') }}">🇸🇪 Svenska</a>
                    <a href="{{ get_url(path='@/_index.en.md') }}">🇬🇧 English</a>
                    <a href="{{ get_url(path='@/_index.de.md') }}">🇩🇪 Deutsch</a>
                    <a href="{{ get_url(path='@/_index.nl.md') }}">🇳🇱 Nederlands</a>
                {% endif %}
                </div>
            </div>
            <a
            {% if lang == 'sv'%}
                href="{{ get_url(path='@/_index.md') }}"
            {% else %}
                href="{{ get_url(path='@/_index.' ~ lang ~ '.md')}}"
            {% endif %}
            >
            {{ config.title }}
            </a>
        </header>
        <nav role="navigation">
            <input type="checkbox" id="nav-toggle" aria-label="Toggle navigation">
            <label for="nav-toggle">
                <hr>
                <hr>
                <hr>
            </label>
            {% set items = load_data(path="templates/nav.yaml", format="yaml") %}
            {%- for item in items %}
            {{ macros::navitem(item=item) }}
            {%- if item.subitems %}
                {%- for subitem in item.subitems %}
                    {{ macros::navitem(item=subitem) }}
                {%- endfor %}
            {%- endif %}
            {%- endfor %}
        </nav>

        <main>
            {% block content %}
                {{ section.content | safe }}
            {% endblock content %}
        </main>

        <!-- <footer> -->
        <!--     Denna hemsida är inhyst under -->
        <!--     <a href="//www.lysator.liu.se"> -->
        <!--         <img height="30" width="30" src="/lyslogo.svg" alt="Lysators logga"> -->
        <!--         <span style="color: #ff0;">Lysator</span> -->
        <!--     </a> -->
        <!-- </footer> -->

    </body>
</html>
