{% extends "base.html" %}

{% block xhead %}
<style>
    #posts > a > div{
        border: 0.2rem solid var(--trans-accent);
        padding: .7rem;
        margin: 1ch 0;

        display: grid;
        grid-template-columns: 1fr 2fr;
        justify-items: center;
        column-gap: 2rem;

        p {
            margin: 0;
        }
    }
</style>
{% endblock xhead %}

{% block content %}

    {{ section.content | safe }}

    <h1 id="nyheter">Nyheter</h1>
    {% set posts_section = get_section(path="posts/_index.md") %}
    <div id="posts">
        {% for post in posts_section.pages | slice(end=5) %}
            <a href="{{ post.permalink | safe }}">
                <div>
                    <h3>{{ post.title }}</h3>
                    <div style="justify-self:left;">{{ post.summary | safe }}</div>
                    <div>{{ post.date }} | {{ post.reading_time }} min</div>
                </div>
            </a>
        {% endfor %}
    </div>

{% endblock content %}
