{% macro navitem (item) %}
{%- if item.link is matching("https?://") %}
    <a href="{{ item.link | safe }}" target="_blank">{{ item.name | safe }}</a>
{%- else %}
    {% if lang == 'sv' %}
    {% set item_url = get_url(path='@/' ~ item.link ~ '.md') %}
    {% else %}
    {% set item_url = get_url(path='@/' ~ item.link ~ '.' ~ lang ~ '.md') %}
    {% endif %}
    <a
        href="{{ item_url }}"
        {% if current_url and current_url == item_url %}
        style="text-decoration: underline;"
        {% endif %}
    >
        {{ item.name | safe }}
    </a>
{%- endif %}
{% endmacro navitem %}

{% macro flag () %}
{% if page and page.lang == 'sv' %}
&#x1f1f8;&#x1f1ea;
{% elif page and page.lang == 'en' %}
&#127468;&#127463;
{% elif page and page.lang == 'de' %}
&#127465;&#127466;
{% elif page and page.lang == 'nl' %}
&#127475;&#127473;
{% elif section and section.lang == 'sv' %}
&#x1f1f8;&#x1f1ea;
{% elif section and section.lang == 'en' %}
&#127468;&#127463;
{% elif section and section.lang == 'de' %}
&#127465;&#127466;
{% elif section and section.lang == 'nl' %}
&#127475;&#127473;
{% else %}
{# default to swedish #}
&#x1f1f8;&#x1f1ea;
{% endif %}
{% endmacro flag %}
